@import '~antd/dist/antd.css';

.ui.container {
	padding-top: 1rem;
}

.App {
	text-align: center;
	background-color: #1b1b1b;
}

body {
	background-color: #1b1b1b;
}

.social-links {
	margin-top: 1rem;
	text-align: center;
}

h3 {
	color: white;
}

h3 a {
	color: white;
	border-bottom: 1px solid #d4ad5a;
}

h3 a:hover {
	color: #d4ad5a;
	border-color: transparent;
}
